* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: inherit;
    color: inherit;
    background: transparent;
}

.cabecera {
    background-color: rgba(0, 29, 108, 0.545);
    text-align: center;
    box-sizing: border-box;
    display:inline-flex;
    float: none;
    line-height: 14px;
    position: static;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cerrarsesion{
    background-color: rgb(95, 119, 139);
    padding: 10px;
    position: absolute;
    right: 50px;
    border-radius: 10px;
    
    
  }
  
  .cerrarsesion a{
    text-decoration: none;
    color: black;
  }
  
  .infosesion{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    position: absolute;
    left: 50px;
    line-height: 1.4em;
  
  }
  
  .infosesion span{
    text-transform: uppercase;
    color: #213c5a;
  }

.cabecera h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
    font-size: xx-large;
}

.centro{
    margin-top: 50px;
    text-align: center;
}
.centro div{
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    background-color: rgb(208, 193, 226);
    padding: 20px;
    cursor: pointer;   
}
.centro div:hover{
    background-color: rgb(149, 130, 167);
}

div a{
    
    text-decoration: none;
}

